@model IEnumerable<AboutLanguage>
@{
    int count = 0;
}
<a class="btn btn-success btn-sm" asp-action="create">Create</a>
@foreach (var item in Model)
{
  
    
    <p>@item.Title</p>

    count++;
}

@if (count == 0)
{
    <div class="alert alert-danger my-4">Melumat yoxdu</div>
}